<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="RSB.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <RSB.Properties.Settings>
            <setting name="server" serializeAs="String">
                <value>172.16.0.151</value>
            </setting>
            <setting name="database" serializeAs="String">
                <value>test2base</value>
            </setting>
            <setting name="port" serializeAs="String">
                <value>3306</value>
            </setting>
            <setting name="default_username" serializeAs="String">
                <value>testadmin</value>
            </setting>
            <setting name="material_add" serializeAs="String">
                <value>CH-139</value>
            </setting>
            <setting name="type_prep" serializeAs="String">
                <value>Электрохимия</value>
            </setting>
            <setting name="producer" serializeAs="String">
                <value>Искандаров</value>
            </setting>
            <setting name="project" serializeAs="String">
                <value>РосАтом ЕОТП</value>
            </setting>
            <setting name="storage" serializeAs="String">
                <value>Шлем</value>
            </setting>
            <setting name="treatment" serializeAs="String">
                <value>400С 5Е15</value>
            </setting>
            <setting name="default_pass" serializeAs="String">
                <value>m2nfcab2%</value>
            </setting>
            <setting name="respons" serializeAs="String">
                <value>Никитин</value>
            </setting>
            <setting name="pro_name" serializeAs="String">
                <value />
            </setting>
            <setting name="pro_surname" serializeAs="String">
                <value />
            </setting>
            <setting name="pro_access" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="material_name" serializeAs="String">
                <value />
            </setting>
            <setting name="material_composition" serializeAs="String">
                <value />
            </setting>
            <setting name="specimen_state" serializeAs="String">
                <value>Storage ready for APT</value>
            </setting>
            <setting name="sorting_specimens" serializeAs="String">
                <value>DESC</value>
            </setting>
            <setting name="show_only_specimens" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="no_pics" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="res_succ" serializeAs="String">
                <value>+</value>
            </setting>
            <setting name="open_data_file" serializeAs="String">
                <value>\\Apt-2\эксперименты азт-2</value>
            </setting>
            <setting name="res_temper" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="res_laser_power" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="trans_specim" serializeAs="String">
                <value />
            </setting>
            <setting name="main_spec_id" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="main_res_id" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="user_access_lvl" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="show_only_researches" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="show_techinfo" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="font_config" serializeAs="String">
                <value />
            </setting>
            <setting name="old_treatment" serializeAs="String">
                <value />
            </setting>
            <setting name="ini_split_add_new" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ini_split_inf" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="info_id_project" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="project_info_split" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="project_split_graphs" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="discord_notification" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="specimens_split_datagrid" serializeAs="String">
                <value>0</value>
            </setting>
        </RSB.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Google.Protobuf" publicKeyToken="a7d26565bac4d604" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.28.3.0" newVersion="3.28.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="BouncyCastle.Crypto" publicKeyToken="0e99375e54769942" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.8.10.0" newVersion="1.8.10.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.4.0" newVersion="4.1.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Renci.SshNet" publicKeyToken="1cee9f8bde3db106" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2020.0.1.0" newVersion="2020.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="K4os.Compression.LZ4.Streams" publicKeyToken="2186fa9121ef231d" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.16.0" newVersion="1.2.16.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="K4os.Hash.xxHash" publicKeyToken="32cd54395057cec3" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.8.0" newVersion="1.0.8.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ComponentModel.Annotations" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.1.0" newVersion="4.2.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Collections.Immutable" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Linq.Async" publicKeyToken="94bc3704cddfc263" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.DependencyInjection.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.2" newVersion="8.0.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.IO.Pipelines" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="ZstdSharp" publicKeyToken="8d151af33a4ad5cf" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.8.1.0" newVersion="0.8.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>